@use '../abstracts/mixins' as *;

.cart {
  display: flex;
  flex-direction: column;
}

@include media-max(900px) {
  .cart {
    width: 100%;
    padding: 0 15px;
  }
}

@include media-max(600px) {
  .cart {
    padding: 0 10px;
  }
}

@include media-max(400px) {
  .cart {
    padding: 0 8px;
  }
}
