.contact {
  width: 100%;
  height: auto;
  border: 1px solid transparent;
  padding: 80px 0 80px 0;
  position: relative;
  justify-content: center;
  .contactTitle {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .contactInputSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;

    .contactInputWrapper {
      list-style-type: none;
      .contactValidationError {
        color: red;
        height: calc(20px * var(--app-scale));
      }
      &#error {
        border: calc(2px * var(--app-scale)) solid red;
      }

      .nameAndEmailWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .nameAndEmail {
          margin-bottom: 10px;
          width: calc(563px * var(--app-scale));
          height: calc(24px * var(--app-scale));
          padding: 15px 15px 15px 15px;
          color: rgb(206, 212, 218);
          border: 1px solid rgb(206, 212, 218);
        }
      }
      .contactInpSubject {
        width: calc(1145px * var(--app-scale));
        height: calc(24px * var(--app-scale));
        padding: 15px 15px 15px 15px;
        margin-bottom: 10px;
        border: 1px solid rgb(206, 212, 218);
        color: rgb(206, 212, 218);
      }
      .contactInpMessage {
        width: calc(1145px * var(--app-scale));
        height: calc(100px * var(--app-scale));
        padding: 15px 15px 15px 15px;
        margin-bottom: 10px;
        resize: none;
        color: rgb(206, 212, 218);
        border: 1px solid rgb(206, 212, 218);
      }
    }
  }
  .contactSubmit {
    width: calc(110px * var(--app-scale));
    height: calc(40px * var(--app-scale));
    margin: 20px 0 20px 0;
    color: white;
    font-weight: 500;
    background-color: #0438a1;
    cursor: pointer;
    border: transparent;
    border-radius: 6px;
    float: right;
  }
}
