@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.brands {
  width: 100%;
  padding: 50px;

  .brandsWrapper {
    @include flex-center;
    gap: 60px;
    list-style-type: none;

    .brandImages {
      cursor: pointer;
    }
  }

  @include media-max(900px) {
    padding: 30px 20px;

    .brandsWrapper {
      flex-wrap: wrap;
      gap: 30px;
    }

    .brandImages {
      width: 120px;
      height: auto;
    }
  }

  @include media-max(600px) {
    padding: 25px 15px;

    .brandsWrapper {
      gap: 20px;
    }

    .brandImages {
      width: 100px;
    }
  }

  @include media-max(400px) {
    padding: 20px 10px;

    .brandsWrapper {
      gap: 15px;
    }

    .brandImages {
      width: 80px;
    }
  }
}
