.carousel {
  width: 100%;
  height: calc(580px * var(--app-scale));
  position: relative;
  overflow: hidden;

  .carouselBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .carouselWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .singleCarouselContainer {
    transform: translate(calc(20px * var(--app-scale)), calc(50px * var(--app-scale)));

    flex: 1;
    display: flex;
    justify-content: center;
  }

  .carouselPrevClick,
  .carouselNextClick {
    opacity: 0;
    position: absolute;
    z-index: 10;
    scale: 0.8;
    color: #0638a1;
    background: white;
    width: calc(50px * var(--app-scale));
    height: calc(50px * var(--app-scale));
    border-radius: 50%;
    border: calc(1px * var(--app-scale)) solid transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    padding: calc(35px * var(--app-scale));

    .carouselBtns {
      font-size: calc(30px * var(--app-scale));
      font-weight: bold;
      line-height: 1;
    }

    &:hover {
      background-color: #0638a1;
      color: white;
    }
  }

  .carouselPrevClick {
    left: calc(20px * var(--app-scale));
  }

  .singleCarouselContainer + .carouselPrevClick {
    right: calc(20px * var(--app-scale));
    left: auto;
  }

  &:hover {
    .carouselPrevClick,
    .carouselNextClick {
      opacity: 1;
      transition: 1s;
    }
  }
}