.carousel {
  width: 100%;
  height: calc(580px * var(--app-scale));
  position: relative;
  overflow: hidden;

  .carouselBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .carouselWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .singleCarouselContainer {
    transform: translate(
      calc(20px * var(--app-scale)),
      calc(50px * var(--app-scale))
    );

    flex: 1;
    display: flex;
    justify-content: center;
  }

  .carouselPrevClick,
  .carouselNextClick {
    opacity: 0;
    position: absolute;
    z-index: 10;
    scale: 0.8;
    color: #0638a1;
    background: white;
    width: calc(50px * var(--app-scale));
    height: calc(50px * var(--app-scale));
    border-radius: 50%;
    border: calc(1px * var(--app-scale)) solid transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    padding: calc(35px * var(--app-scale));

    .carouselBtns {
      font-size: calc(30px * var(--app-scale));
      font-weight: bold;
      line-height: 1;
    }

    &:hover {
      background-color: #0638a1;
      color: white;
    }
  }

  .carouselPrevClick {
    left: calc(20px * var(--app-scale));
  }

  .singleCarouselContainer + .carouselPrevClick {
    right: calc(20px * var(--app-scale));
    left: auto;
  }

  &:hover {
    .carouselPrevClick,
    .carouselNextClick {
      opacity: 1;
      transition: 1s;
    }
  }

  @media (max-width: 900px) {
    height: 420px;

    .singleCarouselContainer {
      transform: translate(0, 20px);
    }

    .carouselPrevClick,
    .carouselNextClick {
      width: 42px;
      height: 42px;
      padding: 25px;
      opacity: 1; /* always visible on mobile */
    }

    .carouselBtns {
      font-size: 22px;
    }
  }

  @media (max-width: 600px) {
    height: 350px;

    .singleCarouselContainer {
      transform: translate(0, 10px);
    }

    .carouselPrevClick,
    .carouselNextClick {
      width: 38px;
      height: 38px;
      padding: 20px;
    }

    .carouselBtns {
      font-size: 20px;
    }
  }

  @media (max-width: 400px) {
    height: 300px;

    .carouselPrevClick,
    .carouselNextClick {
      width: 34px;
      height: 34px;
      padding: 18px;
    }

    .carouselBtns {
      font-size: 18px;
    }
  }
}
