.description {
  margin: 0 calc(32px * var(--app-scale)) 0 calc(32px * var(--app-scale));
  padding: calc(105px * var(--app-scale)) 0 calc(30px * var(--app-scale)) 0;
  width: calc(1167px * var(--app-scale));
  margin: auto;
  line-height: calc(20px * var(--app-scale));
  .upperSide {
    .upperSideList {
      display: flex;
      justify-content: center;
      gap: calc(80px * var(--app-scale));
      list-style-type: none;
      padding: calc(15px * var(--app-scale)) 0 calc(15px * var(--app-scale)) 0;
      font-size: calc(16px * var(--app-scale));
      border: calc(1px * var(--app-scale)) solid rgb(229, 229, 229);
      font-weight: 600;
      #descriptionTitle {
        color: #0438a1;
        border-bottom: calc(2px * var(--app-scale)) solid #0438a1;
      }
    }
  }
  .bottomSide {
    padding: calc(30px * var(--app-scale));
    text-align: left;
    font-size: calc(16px * var(--app-scale));
    font-weight: 400;
    border: calc(1px * var(--app-scale)) solid rgb(229, 229, 229);
    border-top: 0;
  }
}