.filter {
  width: calc(300px * var(--app-scale));
  user-select: none;
  line-height: calc(20px * var(--app-scale));
  margin-left: 5%;
  margin-top: 3.5%;
  border: calc(1px * var(--app-scale)) dashed rgb(226, 224, 224);
  padding: calc(25px * var(--app-scale));
  ol {
    display: flex;
    gap: calc(15px * var(--app-scale));
  }
  h2 {
    font-size: calc(20px * var(--app-scale));
  }
  label {
    font-size: calc(16px * var(--app-scale));
    font-weight: 400;
    cursor: pointer;
  }
  .selected {
    display: inline-block;
    border: calc(1px * var(--app-scale)) dashed rgb(196, 196, 196);
    padding: calc(2px * var(--app-scale)) calc(10px * var(--app-scale));
    margin: 0 0 calc(25px * var(--app-scale)) 0;
  }
  .availability {
    margin: 0 0 calc(30px * var(--app-scale)) 0;
    .availabilityTitle {
      margin: 0 0 calc(25px * var(--app-scale)) 0;
    }
  }
  .price {
    margin: 0 0 calc(30px * var(--app-scale)) 0;
    .priceTitle {
      margin: 0 0 calc(25px * var(--app-scale)) 0;
    }
    .bottomPrice {
      display: flex;
      justify-content: space-between;
      .rightSide,
      .leftSide {
        display: flex;
        align-items: center;
        gap: calc(10px * var(--app-scale));
        margin: 0 0 calc(30px * var(--app-scale)) 0;
      }
      .priceUnits {
        font-size: calc(16px * var(--app-scale));
        font-weight: 400;
      }
      .priceInput {
        width: calc(70px * var(--app-scale));
        height: calc(42px * var(--app-scale));
      }
    }
  }
  .productType {
    margin: 0 0 calc(30px * var(--app-scale)) 0;
    .productTypeTitle {
      margin: 0 0 calc(25px * var(--app-scale)) 0;
    }
  }
  .brand {
    margin: 0 0 calc(30px * var(--app-scale)) 0;
    .brandTitle {
      margin: 0 0 calc(25px * var(--app-scale)) 0;
    }
    .brandList {
      margin: 0 0 calc(15px * var(--app-scale)) 0;
    }
  }
  .color {
    margin: 0 0 calc(30px * var(--app-scale)) 0;
    .colorTitle {
      margin: 0 0 calc(25px * var(--app-scale)) 0;
    }
  }
  .material {
    margin: 0 0 calc(30px * var(--app-scale)) 0;
    .materialTitle {
      margin: 0 0 calc(25px * var(--app-scale)) 0;
    }
  }
  .size {
    margin: 0 0 calc(30px * var(--app-scale)) 0;
    .sizeTitle {
      margin: 0 0 calc(25px * var(--app-scale)) 0;
    }
  }
}