.footerInfos {
  height: auto;
  background-color: #0b0c0e;
  color: rgb(241, 241, 241);
  padding-top: calc(60px * var(--app-scale));
  .footerInfosWrapper {
    width: calc(1500px * var(--app-scale));
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    .recentPostsContainer {
      line-height: calc(20px * var(--app-scale));
      width: calc(370px * var(--app-scale));
      .recentPostsTitle {
        margin-bottom: calc(40px * var(--app-scale));
      }
      .recentPostsWrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: calc(25px * var(--app-scale));
        .rpFirst {
          display: flex;
          gap: calc(20px * var(--app-scale));
          .rpFirstTextWrapper {
            .rpFirstTitle {
              font-weight: 400;
              font-size: calc(18px * var(--app-scale));
              line-height: calc(30px * var(--app-scale));
            }
            .rpFirstDate {
              line-height: calc(40px * var(--app-scale));
              font-size: calc(14px * var(--app-scale));
              font-weight: 400;
            }
          }
        }

        .rpSecond {
          display: flex;
          gap: calc(20px * var(--app-scale));
          .rpSecondTextWrapper {
            .rpSecondTitle {
              font-weight: 400;
              font-size: calc(25px * var(--app-scale));
              line-height: calc(30px * var(--app-scale));
            }
            .rpSecondDate {
              line-height: calc(40px * var(--app-scale));
              font-size: calc(14px * var(--app-scale));
              font-weight: 400;
            }
          }
        }
      }
    }

    .quickLinks {
      .quickLinkTitle {
        margin-bottom: calc(40px * var(--app-scale));
        font-size: calc(19px * var(--app-scale));
      }
      .quickLinksCont {
        list-style-type: none;
        line-height: calc(20px * var(--app-scale));
        li {
          line-height: calc(40px * var(--app-scale));
        }
      }
    }

    .contactInfo {
      .contactInfoTitle {
        margin-bottom: calc(40px * var(--app-scale));
        font-size: calc(19px * var(--app-scale));
      }
      .contactInfoWrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: calc(25px * var(--app-scale));
        .location {
          display: flex;
          gap: calc(10px * var(--app-scale));
          .locationImg {
            width: auto;
            height: calc(28px * var(--app-scale));
            margin-top: calc(5px * var(--app-scale));
          }
          .locationParagraph {
            font-size: calc(17px * var(--app-scale));
            font-weight: 400;
            line-height: calc(28px * var(--app-scale));
          }
        }

        .mail {
          display: flex;
          gap: calc(20px * var(--app-scale));
          .mailImg {
            width: auto;
            height: calc(20px * var(--app-scale));
            margin-top: calc(5px * var(--app-scale));
          }
          .mailParagraph {
            font-size: calc(17px * var(--app-scale));
            font-weight: 400;
            line-height: calc(28px * var(--app-scale));
          }
        }

        .phone {
          display: flex;
          gap: calc(20px * var(--app-scale));
          .phoneImg {
            width: auto;
            height: calc(20px * var(--app-scale));
            margin-top: calc(5px * var(--app-scale));
          }
          .phoneParagraph {
            font-size: calc(17px * var(--app-scale));
            font-weight: 400;
            line-height: calc(28px * var(--app-scale));
          }
        }
      }
    }

    .newsLetter {
      .newsLetterTitle {
        margin-bottom: calc(40px * var(--app-scale));
      }

      .newsLetterWrapper {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: calc(25px * var(--app-scale));

        .newsLetterParagraph {
          font-size: calc(18px * var(--app-scale));
          font-weight: 400;
          line-height: calc(40px * var(--app-scale));
        }
        .newsLetterInpCont {
          margin-bottom: calc(30px * var(--app-scale));
          .newsLetterInp {
            width: calc(270px * var(--app-scale));
            height: calc(45px * var(--app-scale));
            border-radius: calc(5px * var(--app-scale));
          }
        }
      }
    }
  }
}