.hotDealCarousel {
  width: calc(308px * var(--app-scale));
  height: calc(458px * var(--app-scale));
  border: calc(1px * var(--app-scale)) solid transparent;
  background-color: #f7f8fa;
  position: relative;
  .carouselBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    background: white;
    border: calc(1px * var(--app-scale)) solid #ccc;
    cursor: pointer;
    font-size: calc(18px * var(--app-scale));
    padding: calc(8px * var(--app-scale)) calc(12px * var(--app-scale));
    z-index: 10;
    &.next {
      font-size: calc(28px * var(--app-scale));
      right: calc(8px * var(--app-scale));
      opacity: 0;
      position: absolute;
      z-index: 10;
      scale: 0.7;
      color: #0638a1;
      background: white;
      width: calc(50px * var(--app-scale));
      height: calc(50px * var(--app-scale));
      border-radius: 50%;
      border: calc(1px * var(--app-scale)) solid transparent;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      padding: calc(35px * var(--app-scale));
      &:hover {
        transition: 1s;
        background-color: #0638a1;
        color: white;
      }
    }
    &.prev {
      font-size: calc(28px * var(--app-scale));
      left: calc(8px * var(--app-scale));
      opacity: 0;
      position: absolute;
      z-index: 10;
      scale: 0.7;
      color: #0638a1;
      background: white;
      width: calc(50px * var(--app-scale));
      height: calc(50px * var(--app-scale));
      border-radius: 50%;
      border: calc(1px * var(--app-scale)) solid transparent;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;
      padding: calc(35px * var(--app-scale));
      &:hover {
        transition: 1s;
        background-color: #0638a1;
        color: white;
      }
    }
  }

  .wishlist {
    padding: calc(10px * var(--app-scale));
    width: calc(14px * var(--app-scale));
    height: auto;
    font-size: calc(34px * var(--app-scale));
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: #0438a1;
      transform: 0.3s ease-in;
    }
  }
  .titleAndPriceContainer {
    text-align: center;
    line-height: calc(25px * var(--app-scale));
    h3 {
      font-size: calc(18px * var(--app-scale));
      font-weight: 530;
    }
    p {
      font-weight: 600;
      font-size: calc(15px * var(--app-scale));
    }
  }
  .imgContainer {
    position: relative;
    width: calc(270px * var(--app-scale));
    height: calc(270px * var(--app-scale));
    margin: auto;
    user-select: none;
    .hdCarouselImg {
      width: calc(270px * var(--app-scale));
      height: calc(270px * var(--app-scale));
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.8s ease-in-out;
    }
  }

  .shopNow {
    display: block;
    top: calc(35px * var(--app-scale));
    margin: auto;
    text-align: center;
    position: relative;
    width: calc(130px * var(--app-scale));
    height: calc(35px * var(--app-scale));
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    color: rgb(69, 69, 69);
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  &:hover .prev {
    opacity: 1;
    transition: 1s;
  }
  &:hover .next {
    opacity: 1;
    transition: 1s;
  }
  #image1 {
    opacity: 1;
    z-index: 1;
  }

  #image2 {
    opacity: 0;
    z-index: 2;
  }

  &:hover #image1 {
    opacity: 0;
  }

  &:hover #image2 {
    opacity: 1;
  }
  &:hover .shopNow {
    opacity: 1;
    transform: translateY(calc(-30px * var(--app-scale)));
    transition: 0.9s;
  }
}