.loaderScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9999;
  opacity: 1;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;

  &.fade-in {
    opacity: 1;
    visibility: visible;
  }

  &.fade-out {
    opacity: 0;
    visibility: hidden;
  }

  .loader {
    width: calc(48px * var(--app-scale));
    height: calc(48px * var(--app-scale));
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;

    &::before,
    &::after {
      content: "";
      box-sizing: border-box;
      position: absolute;
      inset: 0;
      border-radius: 50%;
      border: calc(5px * var(--app-scale)) solid #5485e6;
      animation: prixClipFix 2s linear infinite;
    }

    &::after {
      transform: rotate3d(90, 90, 0, 180deg);
      border-color: #0438a1;
    }
  }
}

@media (max-width: 768px) {
  .loaderScreen {
    height: 100vh;
    width: 100vw;
    padding: 0;
  }

  .loader {
    width: 40px;
    height: 40px;
  }
}

/* ========================= */
/*        ANIMATIONS        */
/* ========================= */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
