.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: modalBackdropFade 0.3s ease forwards;
  &.centered {
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__content {
      position: static;
      top: auto;
      right: auto;
    }
  }

  &__content {
    position: absolute;
    animation: modalContentPop 0.4s ease forwards;
    top: 20px;
    right: 20px;

    h2 {
      text-transform: uppercase;
    }
  }
}
