@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.modal {
  @include fixed-overlay;
  background: rgba(0, 0, 0, 0.5);
  z-index: $z-index-navbar;

  animation: modalBackdropFade 0.3s ease forwards;

  &.centered {
    @include flex-center;

    .modal__content {
      position: static;
      top: auto;
      right: auto;
    }
  }

  &__content {
    position: absolute;
    animation: modalContentPop 0.4s ease forwards;
    top: 20px;
    right: 20px;

    h2 {
      text-transform: uppercase;
    }
  }
}

@include media-max(768px) {
  .modal {
    padding: 15px;
  }

  .modal__content {
    width: 100%;
    max-width: 90vw;
    top: auto;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal.centered {
    padding: 0;
  }
}
