.recentlyViewed {
  width: calc(1200px * var(--app-scale));
  height: calc(502px * var(--app-scale));
  margin-top: calc(150px * var(--app-scale));
  margin: calc(150px * var(--app-scale)) auto auto auto;
  .titleContainer {
    padding: 0 calc(15px * var(--app-scale)) 0 calc(15px * var(--app-scale));
    .rvTitle {
      text-align: center;
      font-weight: 555;
      font-size: calc(32px * var(--app-scale));
      margin-bottom: calc(50px * var(--app-scale));
    }
  }

  .rvCardsWrapper {
    display: flex;
    align-items: center;
    gap: calc(40px * var(--app-scale));
    .rvCard {
      cursor: pointer;
      width: calc(300px * var(--app-scale));
      height: calc(414px * var(--app-scale));
      border: calc(1px * var(--app-scale)) solid transparent;
      background-color: #f7f8fa;
      position: relative;

      .titleAndPriceContainer {
        text-align: center;
        line-height: calc(25px * var(--app-scale));
        margin-top: calc(10px * var(--app-scale));
        h3 {
          margin-bottom: calc(10px * var(--app-scale));
          font-size: calc(18px * var(--app-scale));
          font-weight: 500;
        }
        .priceContainer {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: calc(5px * var(--app-scale));
          .newPrice {
            font-weight: 600;
            font-size: calc(18px * var(--app-scale));
          }
          .oldPrice {
            text-decoration: line-through;
          }
        }
      }

      .imgContainer {
        position: relative;
        width: calc(270px * var(--app-scale));
        height: calc(270px * var(--app-scale));
        margin: auto;
        user-select: none;
        .rvCardsImg {
          width: calc(270px * var(--app-scale));
          height: calc(270px * var(--app-scale));
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.8s ease-in-out;
        }
      }

      .shopNow {
        display: block;
        top: calc(35px * var(--app-scale));
        margin: auto;
        text-align: center;
        position: relative;
        width: calc(130px * var(--app-scale));
        height: calc(35px * var(--app-scale));
        cursor: pointer;
        user-select: none;
        font-weight: 600;
        color: rgb(69, 69, 69);
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
      }
    }
  }
}