.singleProductPage {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  .thumbnail {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .thumbnailMainImg {
      width: 597px;
      height: auto;
      max-width: 530px;
      display: block;
    }

    .thumbnailCarousel {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      scale: 0.8;
      .thumbnailCarouselWrapper {
        overflow: hidden;
        width: 100%;
      }

      .carouselContainer {
        width: 100%;
        flex-wrap: nowrap;
      }

      .singleProductPhotoCarousel {
        min-width: 33.333%;

        flex-shrink: 0;

        display: flex;
        justify-content: center;
        padding: 5px;

        .thumbnailBox {
          width: 100%;
          border: 1px solid #e0e0e0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #f9f9f9;
          cursor: pointer;
          transition: border-color 0.3s ease;

          &:hover {
            border: 2px solid #0638a1;
          }
        }
      }

      .photoCarouselBtn {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        background: white;
        border: 1px solid #ddd;
        padding: 10px;
        cursor: pointer;

        &.prev {
          left: 0;
          opacity: 0;
          border: transparent;
          &:hover {
            transition: 1s;
            background-color: #0638a1;
            border: transparent;

            color: white;
          }
        }
        &.next {
          right: 0;
          opacity: 0;
          border: transparent;

          &:hover {
            transition: 1s;
            background-color: #0638a1;
            border: transparent;
            color: white;
          }
        }
      }
      &:hover .prev {
        opacity: 1;
        transition: 1s;
      }
      &:hover .next {
        opacity: 1;
        transition: 1s;
      }
    }
  }
  .productDescription {
    .type {
      text-align: left;
      font-size: 16px;
      font-weight: 400;
      color: rgb(34, 34, 34);
    }
    .productTitle {
      font-size: 24px;
      font-weight: 100;
      margin: 10px 0 30px 0;
      text-align: left;
    }

    .priceContainer {
      display: flex;
      align-items: center;
      margin-bottom:10px;
      .newPrice {
        font-size: 28px;
        font-weight: 550;
        line-height: 20px;
      }
      .oldPrice {
        margin-left: 8px;
        color: rgb(85, 85, 85);
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: line-through;
      }
      .discount {
        padding: 2px 10px 2px 10px;
        width: 91px;
        margin-left: 10px;
        border-radius: 20px;
        border: 1px solid rgb(4, 56, 161);
        background-color: rgb(4, 56, 161);
        color: white;
        height: auto;
        font-weight: 400;
        font-size: 14px;
      }
    }
    .priceRatio {
      margin: 1px 0 35px 3px;
      font-size: 14px;
      font-weight: 500;
      height: 20px;
      line-height: 20px;
    }
    .productCaption {
      margin-bottom:30px;
      width: auto;
      height: 75px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: rgb(34, 34, 34);
    }

    .size {
      display: flex;
      height: auto;
      align-items: center;
      text-align: left;
      width: 670px;
      margin-bottom: 30px;
      .sizeTitle {
        font-size: 16px;
        font-weight: 400;
        color: rgb(34, 34, 34);
        margin-right: 20px;
        padding-bottom: 5px;
        line-height: 13px;
      }
      .sizeList {
        width: 150px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        cursor: pointer;
      }
    }

    .color {
      display: flex;
      height: auto;
      align-items: center;
      text-align: left;
      width: 670px;
      margin-bottom: 30px;
      .colorTitle {
        font-size: 16px;
        font-weight: 400;
        color: rgb(34, 34, 34);
        margin-right: 20px;
        padding-bottom: 5px;
        line-height: 13px;
      }
      .colorList {
        width: 150px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        cursor: pointer;
        .yellowBox{
          width: 23px;
          height: 21px;
          background-color: #FFFF00;
          border: 1px solid black;
          scale: 0.8;
          
          &:active{
            border: 1px solid black;
          }
        }
        .blackBox{
          width: 23px;
          height: 21px;
          background-color: black;
          scale: 0.8;
          
          &:active{
            border: 1px solid black;
          }
        }
        .brownBox{
          width: 23px;
          height: 21px;
          background-color: #A52A2A;
          scale: 0.8;
          
          &:active{
            border: 1px solid black;
          }
        }
        .grayBox{
          width: 23px;
          height: 21px;
          background-color: #808080;
          scale: 0.8;
          
          &:active{
            border: 1px solid black;
          }
        }
        .greenBox{
          width: 23px;
          height: 21px;
          background-color: green;
          scale: 0.8;
          
          &:active{
            border:1px double black;
          }
        }
      }
    }

    .material {
      margin-bottom: 20px;
      display: flex;
      height: auto;
      align-items: center;
      text-align: left;
      width: 670px;
      .materialTitle {
        font-size: 16px;
        font-weight: 400;
        color: rgb(34, 34, 34);
        margin-right: 20px;
        padding-bottom: 5px;
        line-height: 13px;
      }
      .materialList {
        width: 150px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        cursor: pointer;
      }
    }

    .quantityAndAddToCart {
      margin-bottom: 25px;
      display: flex;
      height: auto;
      align-items: center;
      text-align: left;
      .quantityList {
        width: 340px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        cursor: pointer;

        .quantityTitle {
          font-size: 16px;
          font-weight: 400;
          color: rgb(34, 34, 34);
          margin-right: 20px;
          padding-bottom: 5px;
          line-height: 13px;
        }

        .quantityInput {
          padding: 11px;
          width: 70px;
          height: 44px;
          border: 1px solid rgb(235, 235, 235);
          color: rgb(122, 122, 122);
        }

        .addToCart {
          width: 140px;
          height: 40px;
          border-radius: 25px;
          background-color: #343434;
          color: white;
          font-size: 13px;
          font-weight: 600;
          cursor: pointer;
          margin-left: 25px;

          &:hover {
            background-color: #0438a1;
            transition: 0.8s;
          }
        }
        .wishlist {
          padding: 10px;
          margin-left: 10px;
          width: 14px;
          height: auto;
          font-size: 30px;
          font-weight: 100;
          cursor: pointer;
          &:hover {
            color: #0438a1;
            transform: 0.3s ease-in;
          }
        }
      }
    }
    .buyNow{
      margin-bottom:25px;
      .buyNowBtn{
        width: 321px;
        padding: 14px 20px 14px 20px;
        margin-right: 10px;
        margin: 0 10px 20px 0;
        border-radius: 25px;
          background-color: #343434;
          color: white;
          font-size: 13px;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            background-color: #0438a1;
            transition: 0.8s;
          }
      }
    }
    .tag {
      margin-bottom: 20px;
      display: flex;
      height: auto;
      align-items: center;
      text-align: left;
      width: 670px;
      .tagTitle {
        font-size: 16px;
        font-weight: 400;
        color: rgb(34, 34, 34);
        margin-right: 20px;
        padding-bottom: 5px;
        line-height: 13px;
      }
      .tagList {
        width: 150px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        cursor: pointer;
      }
    }

    .share {
      margin-bottom: 20px;
      display: flex;
      height: auto;
      align-items: center;
      text-align: left;
      width: 100%;
      .shareTitle {
        font-size: 16px;
        font-weight: 400;
        color: rgb(34, 34, 34);
        margin-right: 20px;
        padding-bottom: 5px;
        line-height: 13px;
      }
      .shareList {
        width: 350px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
        cursor: pointer;
      }
    }

    .singleProductPageCarousel {
      scale: 0.8;
      position: relative;
      width: 920px;
      transform: translateX(-12vh);
      .carouselBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-90%);
        background: white;
        border: 1px solid #ccc;
        cursor: pointer;
        font-size: 18px;
        padding: 8px 12px;
        z-index: 10;
        scale: 0.8;
        &.next {
          font-size: 28px;
          right: 8px;
          opacity: 0;
          position: absolute;
          z-index: 10;
          transform: translateY(-90%) scale(0.7);
          color: #0638a1;
          background: white;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid transparent;
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          padding: 35px;
          &:hover {
            transition: 1s;
            background-color: #0638a1;
            color: white;
          }
        }

        &.prev {
          font-size: 28px;
          left: 8px;
          opacity: 0;
          position: absolute;
          z-index: 10;
          transform: translateY(-90%) scale(0.7);
          color: #0638a1;
          background: white;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid transparent;
          cursor: pointer;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          transition: 0.3s;
          padding: 35px;
          &:hover {
            transition: 1s;
            background-color: #0638a1;
            color: white;
          }
        }
      }

      &:hover .prev {
        opacity: 1;
        transition: 1s;
      }
      &:hover .next {
        opacity: 1;
        transition: 1s;
      }

      .carouselContainer {
        gap: 30px;
        display: flex;
      }
    }
  }
}

.singleProductCarousel {
  width: 280px;
  height: 458px;
  border: 1px solid transparent;
  background-color: #f7f8fa;
  position: relative;
  .wishlist {
    padding: 10px;
    width: 14px;
    height: auto;
    font-size: 34px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      color: #0438a1;
      transform: 0.3s ease-in;
    }
  }

  .titleAndPriceContainer {
    
    text-align: center;
    line-height: 25px;
    h3 {
      font-size: 18px;
      font-weight: 530;
    }
    p {
      font-weight: 600;
      font-size: 15px;
    }
  }

  .imgContainer {
    position: relative;
    width: 270px;
    height: 270px;
    margin: auto;
    user-select: none;
    .hdCarouselImg {
      width: 270px;
      height: 270px;
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.8s ease-in-out;
    }
  }

  .shopNow {
    display: block;
    top: 35px;
    margin: auto;
    text-align: center;
    position: relative;
    width: 130px;
    height: 35px;
    cursor: pointer;
    user-select: none;
    font-weight: 600;
    color: rgb(69, 69, 69);
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }

  &:hover .shopNow {
    opacity: 1;
    transform: translateY(-30px);
    transition: 0.9s;
  }

  #image1 {
    opacity: 1;
    z-index: 1;
  }

  #image2 {
    opacity: 0;
    z-index: 2;
  }

  &:hover #image1 {
    opacity: 0;
  }

  &:hover #image2 {
    opacity: 1;
  }
}
