.singleProductPageCarousel {
  position: relative;

  .carouselWrapper {
    width: calc(924px * var(--app-scale));         
    overflow: hidden;    
  }

  .carouselContainer {
    display: flex;
    width: max-content;   
  }
}